
.hashtags--block {
    border-radius: 14px;
    /* border: 2px solid grey; */
    padding: 10px;
    margin-top: 20px;
    
}
.text{
    color: white;
    margin: 5px;
}
.tag--item {
    background-color: grey;
    color: white;
    padding: 4px;
    display: inline-block;
    border-radius: 15px;
    margin: 3px;
}
.tag--item .close {
    display: inline-flex;
    height: 15px;
    background-color: black;
    border-radius: 50%;
    padding: 5px;
    justify-content: center;
    width: 15px;
    align-items: center;
    cursor: pointer;
}
.tags-input{
    background-color: #f4f5f7;
    outline: none;
    width: fit-content;
    /* width: 17%; */
}
